/target/
rust_parser/target/
**/*.rs.bk

/bin/
/pkg/
go_db_service/

/.idea/
*.swp
*.swo
.vscode/

.git/
.gitattributes

*.log
*.tmp
*.temp
*.sum
*.env
config.json

.DS_Store
Thumbs.db

*.exe
*.dll
*.so
*.dylib
